.containerMain {
    width: 80%;
    height: 480px;
    background-color: deeppink;
    padding: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.subContainerMain {
    display: flex;
    column-gap: 4%;
    row-gap: 1%;
}