.input {
margin-bottom: 4px;
}

.input, .addNoteBtn {
  width: 100%;
}

.input, .select {
  background-color: #eee;
  color: #111;
  padding: 8px;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
}

.selectGrid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.select {
  width: 70%;
}

.addNoteBtn {
  background-color: #0056B3;
  border: 2px solid transparent;
  border-radius: 4px;
  margin: 8px 0 24px;
  padding: auto;
}

.addNoteBtn:hover {
  border: 2px solid #333;
}