* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #333;
    color: white;
    width: 100%;
    padding: 16px;
    text-align: center;
    font-weight: bold;
    font-size:larger;
}

.container {
    display: flex;
    padding-top: 48px;
}

.userAvatar {
    border: 2px black solid;
    border-radius: 6px;
    width: auto;
    height: fit-content;
    margin: 61px 32px 156px 16px;
    padding: 6px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
}

.userAvatar img {
    margin-top: 24px;
    margin-bottom: 12px;
    width: 80%;
}

.post {
    width: 100%;
    height: fit-content;
    border: 2px black solid;
    border-radius: 6px; 
    margin: 24px 0 8px;
    padding: 10px;
    display: inline-block;
}

.likes {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    margin-left: 4px;
}

.btn_likes {
    height: 40px;
    width: 100px;
    background-color:gold;
    border-style: none;
    font-size: 17px;
    font-weight: bold;
    padding: 10px;
    border-radius: 6px;
}