.mainContainer {
    width: 60%;
    margin-left: 20%;
    padding: 20px;
    display:flex;
    flex-direction: column;
}

.detailCard {
    width: 100%;
    height: fit-content;
    background-color: antiquewhite;
    color: #424242;
    border: none;
    border-radius: 24px;
    box-shadow: 10px 10px 12px 0px rgba(0,0,0,0.75);
    padding: 24px;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    align-items:  center;
    gap: 18px;
}

h2 {
    color: #342244;
    margin: 4px 0 8px;
}

.data {
    width: 100%;
    height: fit-content;
    padding-left: 48px;
}

.tag, .value {
    font-size:large;
}

.tag {
    color: #212121;
    font-weight: bold;
}

.backBtn {
    margin-top: 32px;
}
