.form {
    display: flex;
    flex-direction: column;
    gap: 36px;
    width: 60%;
    margin-left: 20%;
    padding: 40px 0;
}

.form form {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.field input {
    width: 100%;
    margin: 8px 0 0;
    padding: 12px;
}

.form button {
    align-self: center;
    padding: 12px 24px;
    margin-top: 24px;
}