.form {
    display: flex;
    flex-direction: column;
    gap: 36px;
    width: 60%;
    margin-left: 20%;
}

.field {
    display: flex;
    flex-direction: column;
    /* gap: px; */
}

.field input {
    width: 100%;
    margin: 8px 0 0;
    padding: 12px;
}

button {
    align-self: center;
    padding: 12px 24px;
}