.mainContainer {
    display: grid;
    grid-template-columns: repeat (5, 1fr);
    grid-template-rows: repeat (4, 1fr);
    gap: 0;
}

.header {
    grid-area: 1/1/2/6;
}

.searchInput {
    width: 60%;
    margin-left: 20%;
    padding: 12px;
}

.songsList {
    grid-area: 2/1/5/6;
    width: 60%;
    margin-top: 4%;
    margin-left: 20%;
}

.songsList table {
    border: 2px solid #4D3465;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

.songsList thead {
    background-color: #261A32;
}

.songsList th, td {
    padding: 16px;
}

.link {
    color:#f5f5f5; 
    font-style: italic;
}

.link:hover {
    transition: 0.3 ease;
    text-decoration: underline;
}

.songsList td {
    color: #AA90C4;
}